<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="loginBaseUrl" value="https://tatras-ux-api.metswift.live"/>
<parameter name="cStationURI" value="https://tatras-ux-weather.metswift.live"/>
  <test thread-count="5" name="Test">
<classes>  
  <class name= "metswift.MetswiftLogin"/>  
  </classes>  
  </test> <!-- Test -->
</suite> <!-- Suite -->
